
# misc
*.pdf

# zip files
*.zip
*.gz
*.tgz

# verilog compilation
*simv
*.daidir
*.key
*.vdb
vc_hdrs.h
debug_bin
csrc/
urgReport/

# synthesis files
*.vg
*.rep
*.ddc
*.chk
*.log
*.syn
*.db
*.svf
*.mr
*.pvl
*_svsim.sv

# verdi
verdi*
novas*
*fsdb*

# program memory compilation
*.elf
*.mem
*.dump
*.dump_*

# for this branch (ground truth) we should track the following files

# per-run output files
*.out
*.wb
*.ppln

# ignore the output folder
# don't ignore the correct_out folder
output/
# !output/
!correct_out/*
